<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantilla</title>
  </head>
  <body>
    <header th:fragment="header">
      <div class="row flex justify-content-between align-items-center">
        <h1 th:text="#{plantilla.titulo}"></h1>
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-sm btn-primary">
            [[ #{accion.desloguear}]]
          </button>
        </form>
      </div>
    </header>
    <footer th:fragment="footer">
      <div class="my-4 text-center flex justify-content-between">
        <a th:href="@{''(lang=es)}">ES</a> | <a th:href="@{''(lang=en)}">EN</a>
        <p class="mx-2">User: <span sec:authentication="name"></span></p>
        <p class="mx-2">
          Roles: <span sec:authentication="principal.authorities"></span>
        </p>
        <span>[[ #{plantilla.footer}]] @maximopeoficiales 2020</span>
      </div>
    </footer>
  </body>
</html>
