<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/slate/bootstrap.min.css"
    />
    <title>[[#{index.titulo}]]</title>
  </head>
  <body>
    <div class="container p-2">
      <header th:replace="layouts/plantilla :: header"></header>
      <h5 class="text-center">[[#{index.titulo}]]</h5>
      <a class="btn btn-primary my-2" th:href="@{/add}" role="button"
        >[[#{persona.crear}]]</a
      >
      <br />
      <div th:if="${personas != null and !personas.empty}">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>[[#{persona.nombre}]]</th>
              <th>[[#{persona.apellido}]]</th>
              <th>[[#{persona.telefono}]]</th>
              <th>[[#{persona.email}]]</th>
              <th>[[#{accion.nombre}]]</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each=" persona : ${personas}">
              <td th:text="${persona.nombre}"></td>
              <td th:text="${persona.apellido}"></td>
              <td th:text="${persona.telefono}"></td>
              <td th:text="${persona.email}"></td>
              <td class="text-center">
                <a
                  class="btn btn-secondary"
                  th:href="@{/edit/} + ${persona.idPersona}"
                  role="button"
                  >[[#{accion.editar}]]</a
                >
                <a
                  class="btn btn-danger"
                  th:href="@{/delete/} + ${persona.idPersona}"
                  role="button"
                  >[[#{accion.eliminar}]]</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div th:if="${personas == null or personas.empty}">
        <h1 class="text-center text-bold">[[#{persona.vacio}]]</h1>
      </div>
      <footer th:replace="layouts/plantilla :: footer"></footer>
    </div>
  </body>
</html>
